@charset "utf-8";
/* CSS Document */

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
	margin-top: 70px;
}

#header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height: 50px;
	padding: 5px;
	background:#E8E8E8;
	border-bottom: 1px solid #999;
}
#header img{
	margin-right: 10px;
	border-radius:3px;
}
#map_canvas {
	width: 350px;
	height: 200px;
	border: 1px solid #333;
	//border-width: 1px 0 1px 0;
}





.logout {
	font-size:12px;
	text-decoration:none;
}

.username {
	//text-transform:capitalize;
	color:#999;
}

.firstname {
}

.lastname {
}