@charset "utf-8";
/* CSS Document */

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
}






.logout {
	font-size:12px;
	text-decoration:none;
}

.username {
	//text-transform:capitalize;
	color:#999;
}

.firstname {
}

.lastname {
}